<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qubership Colly</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>
<body class="bg-light">

<div class="container my-5">
    <!-- Page Title -->
    <div class="text-center mb-4">
        <h2 class="display-6">Environments Overview</h2>
    </div>

    <!-- Search Input -->
    <div class="input-group mb-3" style="max-width: 400px;">
        <span class="input-group-text bg-primary text-white" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </span>
        <input id="filterInput" type="text" class="form-control" placeholder="Search Environment..."
               aria-label="Search" onkeyup="filterTable()">
        <button class="btn btn-outline-secondary" onclick="clearSearch()" id="clearSearchBtn">X</button>
    </div>

    <!-- Table Wrapper -->
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table id="envTable" class="table table-hover table-bordered mb-0">
                    <thead class="table-light">
                    <tr>
                        <th class="sortable" onclick="sortTable(0)">Environment</th>
                        <th class="sortable" onclick="sortTable(1)">Namespace(s)</th>
                        <th class="sortable" onclick="sortTable(2)">Cluster</th>
                        <th class="sortable" onclick="sortTable(3)">Owner</th>
                        <th class="sortable" onclick="sortTable(4)">Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#for env in environments}
                        <tr>
                            <td>{env.name}</td>
                            <td>
                                {#for namespace in env.namespaces}
                                    <p>{namespace.name}</p>
                                {/for}
                            </td>
                            <td>{env.cluster.name}</td>
                            <td>{env.owner}</td>
                            <td>{env.description}</td>
                            <td>
                                <button type="button" class="btn btn-outline-light"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editDialog"
                                        data-bs-env="{env.render()}">
                                    ✏️
                                </button>
                            </td>
                        </tr>
                    {/for}
                    </tbody>
                </table>
            </div>
            <!-- Empty State -->
            <div id="emptyState">No matching environments found</div>
        </div>
    </div>
    <div class="modal fade" id="editDialog" tabindex="-1" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title">Edit Environment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" aria-label="Name" id="envNameField" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Owner</label>
                        <input type="text" aria-label="Owner" id="envOwnerField" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="text" aria-label="Description" id="envDescriptionField" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>
    let envId = null;

    function sortTable(columnIndex) {
        const table = document.getElementById("envTable");
        const rows = Array.from(table.tBodies[0].rows);

        const sortOrder = table.dataset.sortOrder === "asc" ? "desc" : "asc";

        rows.sort((a, b) => {
            const cellA = a.cells[columnIndex].innerText.trim();
            const cellB = b.cells[columnIndex].innerText.trim();
            return sortOrder === "asc" ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
        });

        let headers = table.querySelectorAll("th");
        headers.forEach((header, index) => {
            header.classList.remove("sort-asc", "sort-desc");
            if (index === columnIndex) {
                header.classList.add(sortOrder === "asc" ? "sort-asc" : "sort-desc");
            }
        });
        rows.forEach(row => table.tBodies[0].appendChild(row));
        table.dataset.sortOrder = sortOrder;
        table.dataset.sortColumn = columnIndex;
    }

    function filterTable() {
        const input = document.getElementById("filterInput");
        const filter = input.value.toLowerCase();
        const table = document.getElementById("envTable");
        const rows = Array.from(table.tBodies[0].rows);
        let visibleRowCount = 0;

        rows.forEach(row => {
            const cells = row.cells;
            const match = Array.from(cells).some(cell => cell.innerText.toLowerCase().includes(filter));
            row.style.display = match ? "" : "none";
            if (match) visibleRowCount++;
        });

        document.getElementById("emptyState").style.display = visibleRowCount === 0 ? "block" : "none";
    }

    function clearSearch() {
        document.getElementById("filterInput").value = "";
        filterTable();
    }

    let dialog = document.getElementById('editDialog');

    async function saveChanges() {
        const newName = dialog.querySelector('#envNameField').value;
        const newOwner = dialog.querySelector('#envOwnerField').value;
        const newDescription = dialog.querySelector('#envDescriptionField').value;

        if (newName.trim() === '') {
            alert('Please fill Environment Name.');
            return;
        }

        const formData = new URLSearchParams();
        formData.append('name', newName);
        formData.append('owner', newOwner);
        formData.append('description', newDescription);

        await fetch('/colly/environments/' + envId, {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: formData
        });

        location.reload();
    }

    dialog.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        const env = JSON.parse(button.getAttribute('data-bs-env'));
        envId = env.id;
        dialog.querySelector('#envNameField').value = env.name;
        dialog.querySelector('#envOwnerField').value = env.owner;
        dialog.querySelector('#envDescriptionField').value = env.description;
    })

</script>

</body>
</html>