.sortable {
    cursor: pointer;
}

.sortable.sort-asc::after {
    content: ' \25B2'; /* Ascending Arrow */
}

.sortable.sort-desc::after {
    content: ' \25BC'; /* Descending Arrow */
}

#emptyState {
    text-align: center;
    color: #6c757d;
    margin-top: 20px;
    display: none;
}